# Exploring German Ebay car sales data!
## Introduction -##   
We are going to be exploring a dataset of car sales made on German Ebay. Our aim is to make this process easy and efficient using Python's NumPy and Pandas libraries.
The following are the column heads of the data-set-

In [2]:
import numpy as np         #importing Numpy and Pandas module#
import pandas as pd
autos = pd.read_csv('autos.csv', encoding='Latin-1')

In [3]:
autos.info()
autos.head(3)   #displaying information about the dataset as
                # well as the first 3 rows.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37

Our dataset `autos` has 50,000 rows and 20 columns. There are a few columns like 'vehicleType','gearbox', 'model', etc. which have quite a number of null values, which we will fix so as to properly analyse the dataset.   
First, let's start off by changing the column names from Camelcase to snakecase, and making them easier to understand.

In [4]:
new_col_names = {'dateCrawled':'date_crawled', 'offerType':'offer_type', 'vehicleType':'vehicle_type','powerPS':'power_ps','fuelType':'fuel_type', 'nrOfPictures':'nr_of_pics','postalCode':'postal_code','lastSeen':'last_seen' ,'yearOfRegistration':'registration_year', 'monthOfRegistration':'registration_month', 'notRepairedDamage':'unrepaired_damage', 'dateCreated':'ad_created'}
autos.rename(new_col_names, axis=1, inplace=True)
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
date_crawled          50000 non-null object
name                  50000 non-null object
seller                50000 non-null object
offer_type            50000 non-null object
price                 50000 non-null object
abtest                50000 non-null object
vehicle_type          44905 non-null object
registration_year     50000 non-null int64
gearbox               47320 non-null object
power_ps              50000 non-null int64
model                 47242 non-null object
odometer              50000 non-null object
registration_month    50000 non-null int64
fuel_type             45518 non-null object
brand                 50000 non-null object
unrepaired_damage     40171 non-null object
ad_created            50000 non-null object
nr_of_pics            50000 non-null int64
postal_code           50000 non-null int64
last_seen             50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

In [5]:
autos.describe(include='all')
# autos['registration_month'].value_counts()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pics,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-09 11:54:38,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

There are various columns holding data which need to be converted into integer/float type so as to facilitate analysis. Columns such as `price` needs removal of the $ sign, `odometer` needs removal of KM after each number. Also there are various columns with only 1 or 2 unique values, so we are going to drop them.

In [6]:
autos = autos.drop(['seller', 'nr_of_pics', 'offer_type'], axis=1)
#deleting the unnecessary columns.

In [7]:
autos["price"] = (autos["price"]
                          .str.replace("$","")
                          .str.replace(",","")
                          .astype(int)
                          )
autos["price"].head()     #converting the price column to 
                          #integer type for further analysis#

0    5000
1    8500
2    8990
3    4350
4    1350
Name: price, dtype: int64

In [8]:
autos['odometer'] = autos['odometer'].str.replace(',','').str.replace('km','').astype(int).rename('odometer_km')
autos.rename({'odometer':'odometer_km'}, axis=1, inplace=True)
autos['odometer_km'].head() #converting odometer to integer for further analysis
                            #and changing column name to odometer_km .

0    150000
1    150000
2     70000
3     70000
4    150000
Name: odometer_km, dtype: int64

Now let's further explore the `price` and `odometer_km` columns.

In [9]:
print(autos['price'].unique().shape) 
print(autos['price'].value_counts().sort_index(ascending=True).head(15))
print(autos['price'].value_counts().sort_index(ascending=False).head(15))
print(autos['price'].shape)

(2357,)
0     1421
1      156
2        3
3        1
5        2
8        1
9        1
10       7
11       2
12       3
13       2
14       1
15       2
17       3
18       1
Name: price, dtype: int64
99999999    1
27322222    1
12345678    3
11111111    2
10000000    1
3890000     1
1300000     1
1234566     1
999999      2
999990      1
350000      1
345000      1
299000      1
295000      1
265000      1
Name: price, dtype: int64
(50000,)

There are 1421 values that have the price as zero, and we can see that the price gradually increases till 350,000 USD, but the next price is near a million dollars. We are going to keep only those rows where the price starts at 1 USD (as bidding can start at 1$) till the price of 350,000 USD.

In [10]:
autos = autos[(autos['price']>0) & (autos['price']<999990)]
autos['price'].describe()

count     48565.000000
mean       5888.935591
std        9059.854754
min           1.000000
25%        1200.000000
50%        3000.000000
75%        7490.000000
max      350000.000000
Name: price, dtype: float64

We have successfully removed about 1435 rows of data which weren't required for further analysis.

In [11]:
autos['odometer_km'].value_counts()

150000    31414
125000     5057
100000     2115
90000      1734
80000      1415
70000      1217
60000      1155
50000      1012
5000        836
40000       815
30000       780
20000       762
10000       253
Name: odometer_km, dtype: int64

We can infer from this that odometer readings have been rounded off so as to make it easier to read and group. Also, most cars on sale have an approximate reading of 150,000 km on the odometer.

# Analysing Date Columns #

In [12]:
date_crawled= autos['date_crawled'].str[:10].value_counts(normalize=True ,dropna=False).sort_index(ascending=False)
print(date_crawled.head())
date_crawled.describe()

2016-04-07    0.001400
2016-04-06    0.003171
2016-04-05    0.013096
2016-04-04    0.036487
2016-04-03    0.038608
Name: date_crawled, dtype: float64

count    34.000000
mean      0.029412
std       0.009762
min       0.001400
25%       0.029980
50%       0.032781
75%       0.034840
max       0.038608
Name: date_crawled, dtype: float64

We can see by exploring the `date_crawled` column that 2016-04-03 has most entries.

In [13]:
ad_created= autos['ad_created'].str[:10].value_counts(normalize=True, dropna=False).sort_index()
print(ad_created.tail())
ad_created.describe()

2016-04-03    0.038855
2016-04-04    0.036858
2016-04-05    0.011819
2016-04-06    0.003253
2016-04-07    0.001256
Name: ad_created, dtype: float64

count    76.000000
mean      0.013158
std       0.015956
min       0.000021
25%       0.000021
50%       0.000144
75%       0.032112
max       0.038855
Name: ad_created, dtype: float64

Most ads were created on 2016-04-03

In [14]:
last_seen= autos['last_seen'].str[:10].value_counts(normalize=True, dropna=False).sort_index()
print(last_seen)
last_seen.describe()

2016-03-05    0.001071
2016-03-06    0.004324
2016-03-07    0.005395
2016-03-08    0.007413
2016-03-09    0.009595
2016-03-10    0.010666
2016-03-11    0.012375
2016-03-12    0.023783
2016-03-13    0.008895
2016-03-14    0.012602
2016-03-15    0.015876
2016-03-16    0.016452
2016-03-17    0.028086
2016-03-18    0.007351
2016-03-19    0.015834
2016-03-20    0.020653
2016-03-21    0.020632
2016-03-22    0.021373
2016-03-23    0.018532
2016-03-24    0.019767
2016-03-25    0.019211
2016-03-26    0.016802
2016-03-27    0.015649
2016-03-28    0.020859
2016-03-29    0.022341
2016-03-30    0.024771
2016-03-31    0.023783
2016-04-01    0.022794
2016-04-02    0.024915
2016-04-03    0.025203
2016-04-04    0.024483
2016-04-05    0.124761
2016-04-06    0.221806
2016-04-07    0.131947
Name: last_seen, dtype: float64

count    34.000000
mean      0.029412
std       0.043718
min       0.001071
25%       0.012432
50%       0.019489
75%       0.023783
max       0.221806
Name: last_seen, dtype: float64

2016-04-06 had the most users seeing ads according to the last_seen column.

In [15]:
autos['registration_year'].describe()
# .value_counts().sort_index()

count    48565.000000
mean      2004.755421
std         88.643887
min       1000.000000
25%       1999.000000
50%       2004.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

We can see that there are years which should not exist in the registration_year column, like the years pre 1910 as well as the years after 2016. Those should be removed for a better analysis.

In [16]:
autos = autos[(autos['registration_year'] > 1800) & (autos['registration_year']< 2017)]
autos['registration_year'].describe()

count    46681.000000
mean      2002.910756
std          7.185103
min       1910.000000
25%       1999.000000
50%       2003.000000
75%       2008.000000
max       2016.000000
Name: registration_year, dtype: float64

Unnecessary rows have been removed. Also, most cars posted on the site have a registration year of 2016.

# Understanding the Brand column

We're going to be using the top 10 brands to further explore the column.

In [17]:
top_brands = autos['brand'].value_counts().head(10).index


brand_dict = {}
for b in top_brands:
    selected_brands = autos[autos['brand'] == b]
    mean_price = selected_brands['price'].mean()
    brand_dict[b] = int(mean_price)
    
print(brand_dict)

{'ford': 3749, 'peugeot': 3094, 'volkswagen': 5402, 'renault': 2474, 'mercedes_benz': 8628, 'bmw': 8332, 'seat': 4397, 'opel': 2975, 'fiat': 2813, 'audi': 9336}

We can see that the most expensive cars are by Mercedes-Benz, BMW and Audi. Brands priced on the lower side are Ford, Renault, Opel and Fiat. Volkswagen is in the middle, making it the best of both worlds.

In [18]:
mileage_dict = {}   #calculating mileage of top 10 brand's cars
for b in top_brands:
    selected_brands = autos[autos['brand']==b]
    mean_mileage = selected_brands['odometer_km'].mean()
    mileage_dict[b] = mean_mileage

#creating a seperate dataframe to hold mean price and mileage
brand_meanprice = pd.Series(brand_dict).sort_values()
brand_mileage = pd.Series(mileage_dict).sort_values()
mileage_price = pd.DataFrame(brand_meanprice,columns=['mean_price'])
mileage_price['brand_mileage'] = brand_mileage
mileage_price

               mean_price  brand_mileage
renault              2474  128071.331213
fiat                 2813  117121.971596
opel                 2975  129310.035842
peugeot              3094  127153.625269
ford                 3749  124266.012872
seat                 4397  121131.301290
volkswagen           5402  128707.158791
bmw                  8332  132572.513140
mercedes_benz        8628  130788.363313
audi                 9336  129157.386785

There isn't much difference in the mileage of the lower priced cars. However the top end brands like BMW and Mercedes provide the best mileage amongst other brands.

# Further Data Cleansing & Analysis

There are various columns where there are German words being used, such as unrepaired_damage, vehicle_type, gearbox, and fuel_type, so let's convert them into English for ease in understanding.

In [32]:
autos.head()
# autos['unrepaired_damage'] = autos['unrepaired_damage'].str.replace('nein','no').str.replace('ja','yes')
autos['vehicle_type'] = autos['vehicle_type'].str.replace('kleinwagen','small car').str.replace('kombi','combi').str.replace('cabrio','convertible').str.replace('andere','other')
autos['vehicle_type'].unique()
autos['gearbox'] = autos['gearbox'].str.replace('manuell','manual').str.replace('automatik','automatic')
autos['fuel_type'] = autos['fuel_type'].str.replace('benzin','petrol').str.replace('elektro','electric').str.replace('andere','other')

In [33]:
autos.head()

,date_crawled,name,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,5000,control,bus,2004,manual,158,andere,150000,3,lpg,peugeot,nein,2016-03-26 00:00:00,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,8500,control,limousine,1997,automatic,286,7er,150000,6,petrol,bmw,nein,2016-04-04 00:00:00,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,8990,test,limousine,2009,manual,102,golf,70000,7,petrol,volkswagen,nein,2016-03-26 00:00:00,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,4350,control,small car,2007,automatic,71,fortwo,70000,6,petrol,smart,nein,2016-03-12 00:00:00,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,1350,test,combi,2003,manual,0,focus,150000,7,petrol,ford,nein,2016-04-01 00:00:00,39218,2016-04-01 14:38:50

In [56]:
brands = autos['brand'].value_counts().index
brand_model = {}
for b in brands:
    brand = autos[autos['brand']== b]
    modell = brand['model'].value_counts().max()
    brand_model[b] = modell
brand_model

{'alfa_romeo': 88,
 'audi': 1231,
 'bmw': 2615,
 'chevrolet': 147,
 'chrysler': 52,
 'citroen': 219,
 'dacia': 44,
 'daewoo': 22,
 'daihatsu': 63,
 'fiat': 415,
 'ford': 762,
 'honda': 166,
 'hyundai': 174,
 'jaguar': 39,
 'jeep': 43,
 'kia': 65,
 'lada': 15,
 'lancia': 19,
 'land_rover': 31,
 'mazda': 164,
 'mercedes_benz': 1136,
 'mini': 271,
 'mitsubishi': 112,
 'nissan': 243,
 'opel': 1592,
 'peugeot': 600,
 'porsche': 141,
 'renault': 615,
 'rover': 55,
 'saab': 53,
 'seat': 328,
 'skoda': 305,
 'smart': 550,
 'sonstige_autos': nan,
 'subaru': 30,
 'suzuki': 119,
 'toyota': 126,
 'trabant': 47,
 'volkswagen': 3707,
 'volvo': 91}